body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 500px;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container h1 {
  color: #1a73e8;
  text-align: center;
  width: 100%;
}
.container form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
}
.formMain > div {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.3rem 4rem 0.3rem 0;
  min-height: 65px;
  height: 100%;
}
.formMain > div > label {
  color: #5c5c5c;
  margin-bottom: 0.5rem;
}

.formMain > div > input {
  max-width: 100%;
  width: 100%;
  height: 34px;
  border: 1px solid #7c7c7c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.formMain > div > input:focus {
  border: 1px solid #1a73e8;
  height: 34px !important;
}
.errorBorder {
  border: 1px solid lightcoral !important;
}

.formMain > div > span {
  color: crimson;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.divCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.divCheckbox label {
  color: #1a73e8 !important;
}
.divCheckbox input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #1a73e8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-top: 2rem;
}

.divCheckbox input[type="checkbox"]:checked {
  background-color: #1a73e8;
}
